body {
    background-color: rgb(19, 19, 19);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}

.textocima {
    margin-left: 90px;
    text-align: left;
}


ul {
    list-style: none;
}

#texto {
    font-size: 50px;
    color: rgb(153, 0, 0);
}

li {
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
    
}

#nomes {
    border: 1px solid;
    border-radius: 10px;
    
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gray;
}

